{% extends 'base.html' %}\
{% load static %}
{% block title %} About {% endblock %}
{% block content %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Políticas</h1>
          <p class="lead">Queremos un lugar seguro para nuestros prestadores de servicios y clientes</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> INICIO</a>
          </li>
          <li class="breadcrumb-item active"> POLÍTICAS</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8" align="left">
          <h2>Políticas para prestadores de servicios</h2>
          <p class="lead">Ayudanos a crear un lugar seguro para ti y tus clientes.</p>
          <img src="assets/img/about.jpg" alt="">
          <p class="mt-4">*Se tendrá que especificar un precio mínimo de 100 pesos para poder realizar la publicación.
            <br>

            Además:
            <br><br>
            *Precio distinto al encabezado: Está prohibida la publicación de artículos con un precio distinto al expresado en la sección de precios del encabezado. 
            Si hubiera cantidades mínimas de venta del artículo, el precio del encabezado deberá indicar ese costo 
            (por ejemplo: "vendo botella de vino a $50, compra mínima 6 botellas", en ese caso, la publicación deberá tener un precio de $300).
            <br> <br>
            *Se contará con 30 días naturales en los cuales la publicación permanecerá activa, 
            luego de estos 30 días se tendrá que renovar la publicación en un lapso de 2 días o esta será eliminada.
            <br><br>
            *Si un cliente solicita algo, y el prestador de servicios lo realiza, pero el cliente jamás lo reclama, no habrá sanción para el prestador de servicios.
            <br><br>

            Si se presenta un reclamo por no haber atendido un servicio que se acordó, se tendrá que presentar pruebas que refuten la acusación o se aplicarán las sanciones correspondientes.
            <br><br>
            *En el caso de realizar una publicación en una sección donde no corresponde, esta publicación será eliminada y se le notificará al prestador las acciones correspondientes.
            <br><br>
            Si la publicación contiene algún tipo de material que incumpla con las normativas establecidas se le sancionará con la acción que se considere adecuada:
            <br><br>
            No se permitirá en la Página Principal, la publicación de productos que correspondan a la categoría Adultos, Manuales, dietas, complejos vitamínicos o programas 
            alimenticios o de crecimiento o relacionados con el esoterismo. Sin perjuicio de ello, la plataforma se reserva el derecho de bajar cualquier publicación en la
             que considere que hay alguna infracción a las reglas establecidas, a la ley o que considere inapropiada por alguna razón a su entera discreción.
            <br><br>
            *Las publicaciones realizadas que incluyan comparaciones con otros Usuarios serán finalizadas. 

            Se entenderán por comparaciones incluyen información sobre precios, seudónimos, calidad y tipo de artículos, etc.
            <br><br>
            *En el caso de que se incluya una fotografía en las publicaciones, estas deberán corresponder específicamente al artículo o servicio que se ofrece.
            Queda prohibido el uso de códigos en las descripciones para realizar las siguientes funciones:
            <br>
            - depositar o leer cookies en cualquier página de MercadoLibre,<br>
            - llevar a los usuarios a otras páginas fuera de la plataforma,<br>
            - abrir ventanas adicionales,<br>
            - solicitar o conseguir información de otros usuarios.
           <br><br>
          * La inclusión de datos personales en publicaciones se considera que está prohibida 
           la inserción de información personal o cualquier forma de contacto tanto en la descripción, 
           imágenes, fotografías y preguntas sobre el artículo, así como en el seudónimo.
           <br><br>
          *Se prohíbe la publicación de artículos o servicios que no se encuentren en el país.
            <br><br>
            *En el caso de realizar una publicación en una sección donde no corresponde, esta publicación será eliminada y se le notificará al prestador las acciones correspondientes.

-Si la publicación contiene algún tipo de material que incumpla con las normativas establecidas se le sancionará con la acción que se considere adecuada:<br>
-No se permitirá en la Página Principal, la publicación de productos que correspondan a la categoría Adultos, Manuales, dietas, complejos vitamínicos o programas alimenticios o de crecimiento o relacionados con el esoterismo. <br>
-Sin perjuicio de ello, la plataforma se reserva el derecho de bajar cualquier publicación en la que considere que hay alguna infracción a las reglas establecidas, a la ley o que considere inapropiada por alguna razón a su entera discreción.<br>
            <br><br>
            *Las publicaciones realizadas que incluyan comparaciones con otros Usuarios serán finalizadas. 
            Se entenderán por comparaciones incluyen información sobre precios, seudónimos, calidad y tipo de artículos, etc.
            <br><br>
           * No está permitido el uso de lenguaje blasfemo o vulgar. 
           Éste incluye también el lenguaje de naturaleza racista, detestable, sexual u obsceno en las publicaciones realizadas del servicio.
          <br><br>
          *La descripción del artículo publicado solamente puede ser utilizada para explicar, promover, ofrecer y facilitar la publicación del artículo. Se prohíbe incluir vínculos a sitios web destinados al comercio, la publicación o la adquisición de bienes o servicios, o vínculos cuyo propósito no sea uno de los descritos a continuación.
Entre los vínculos permitidos en la descripción del artículo, se incluyen:<br><br>
Enlace a una página que provee información adicional o de forma más detallada el artículo en la plataforma, siempre que tal descripción no facilita ninguna clase de información de contacto.
Enlaces con información adicional sobre políticas de la plataforma y entrega del artículo ofrecido.
-Enlaces a fotografías del artículo en La plataforma. <br>
-Entre los vínculos prohibidos se incluyen los siguientes (aunque sin limitarse a ellos).<br>
-Enlaces a páginas Web destinadas al comercio, o la adquisición de bienes o servicios fuera de la plataforma.<br>
-Enlaces a comunidades virtuales, como foros o blogs, que puedan proveer vías de contacto entre los usuarios fuera de la plataforma.<br>
-Enlaces a sitios o páginas Web que ofrecen mercancía que no está permitida en la plataforma o por la ley vigente.<br>
-Enlaces a sitios que solicitan el seudónimo o la clave de los compradores.<br>
-Enlaces que puedan infringir las leyes de propiedad intelectual.<br><br>
*La inclusión de datos personales en publicaciones se considera que está prohibida la inserción de información personal o cualquier forma de contacto tanto en la descripción, imágenes, fotografías y preguntas sobre el artículo, así como en el seudónimo.

Este tipo de actividades serán investigadas y el infractor podrá ser sancionado con la suspensión o cancelación de la operación e incluso de su registro como Usuario 

Se considera información de contacto la que, entre otros, incluye: dirección de e-mail, dirección geográfica, código postal, número(s) de teléfono y/o fax, datos bancarios, así como URL o sitios web.

<br><br>

<h2>Políticas para clientes solicitantes de servicios</h2>
*El cliente tendrá que dejar el pago total de servicio más comisiones.
<br>
-Las comisiones serán entre un 3.6% +3$ MXN pesos para Stripe y 3.4 % para la empresa. 
<br><br>



*Se debe utilizar un lenguaje apropiado y correcto tratando con respeto a todos los usuarios para retroalimentar a los prestadores de servicios.
<br>

-Los usuarios son los responsables de los comentarios y/o mensajes presentados así como las consecuencias que pueda tener sobre su reputación.
<br>

-Si los comentarios por parte de los clientes incitan a la violencia tendrán una suspensión de 10 días.
<br>

-Si el cliente es reincidente después de su primera suspensión en incitar a la violencia en sus comentarios, la suspensión será  permanente.<br><br>
*En caso de solicitar un servicio y este se haya llevado a cabo pero no sea reclamado, aceptado o recogido, se impondrá sanciones a la cuenta, la cual consistirá en una suspensión temporal de 10 días hasta un tiempo indefinido. Además de realizar un cobro el cual cubre la pérdida del proveedor.<br>

-En caso de que el cliente haya realizado el pago de un servicio y el prestador de servicios no atienda la solicitud podrá iniciar un reclamo por la cantidad pagada del servicio y tendrá que demostrar que no se realizó.<br>

-En caso de que el cliente haya realizado una solicitud de un servicio y el prestador no se presente en la fecha acordada se podrá realizar un reclamo del servicio o reagendar la fecha con el prestador.<br><br>
-La inclusión de datos personales en comentarios establece que está prohibida la inserción de información personal o cualquier forma de contacto tanto en la descripción, imágenes, fotografías y preguntas sobre el artículo, así como en el seudónimo.
<br>
-Este tipo de actividades serán investigadas y el infractor podrá ser sancionado con la suspensión o cancelación de la operación e incluso de su registro como Usuario <br>

-Se considera información de contacto la que, entre otros, incluye: dirección de e-mail, dirección geográfica, código postal, número(s) de teléfono y/o fax, datos bancarios, así como URL o sitios web.<br><br>




        </p>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="assets/img/realtors/kyle.jpg" alt="Seller of the month">
            <div class="card-body">
              <h5 class="card-title">Seller Of The Month</h5>
              <h6 class="text-secondary">Kyle Brown</h6>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt amet, illo itaque similique repellat.
                content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">Nosotros trabajamos para ti</h2>
    <h4>Registrate ya</h4>
    <hr>
    <a href="{% url 'register' %}" class="btn btn-secondary text-white btn-lg">Click para comenzar</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Nuestro Equipo</h2>
      <div class="row text-center">
        <div class="col-md-4">
          <img src="assets/img/realtors/kyle.jpg" alt="" class="rounded-circle mb-3">
          <h4>Antonio Hernández</h4>
          <p class="text-success">
            <i class="fas fa-award text-success mb-3"></i>Desarrollador-Lider</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> (555)-555-5555</p>
          <p>
            <i class="fas fa-envelope-open"></i>al180233@alumnos.uacj</p>
        </div>
        <div class="col-md-4">
          <img src="assets/img/realtors/kyle.jpg" alt="" class="rounded-circle mb-3">
          <h4>Jesus</h4>
          <p class="text-success">
            <i class="fas fa-award text-success mb-3"></i>Desarrollador</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> (555)-555-5555</p>
          <p>
            <i class="fas fa-envelope-open"></i>al180233@alumnos.uacj</p>
        </div>
        <div class="col-md-4">
          <img src="assets/img/realtors/mark.jpg" alt="" class="rounded-circle mb-3">
          <h4>Alexis Garcia</h4>
          <p class="text-success">Desarrollador</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> (444)-444-4444</p>
          <p>
            <i class="fas fa-envelope-open"></i> al192845@alumnos.uacj.mx</p>
        </div>

        <div class="col-md-4">
          <img src="assets/img/realtors/jenny.jpg" alt="" class="rounded-circle mb-3">
          <h4>Jared González</h4>
          <p class="text-success">Desarrollador-Monitor Evaluador</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> (333)-333-3333</p>
          <p>
            <i class="fas fa-envelope-open"></i> al180206@alumnos.uacj.mx</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}